@tailwind base;
@tailwind components;
@tailwind utilities;




.btn-color{
    color: white;
    background-color: #666cff;
    padding: 5px;
    border-radius: 1rem;
    text-align: center;
}
.shadow-inner { box-shadow: inset 0 20px 40px 0 rgba(19, 18, 18, 0.06); }