@tailwind base;
@tailwind components;
@tailwind utilities;




.btn-color{
    color: white;
    background-color: #666cff;
    padding: 5px;
    border-radius: 1rem;
    text-align: center;
}
.shadow-inner { box-shadow: inset 0 20px 40px 0 rgba(19, 18, 18, 0.06); }


/* body{
    background: #f7f7f9;
} */

/* Custom thin scrollbar */
/* For Webkit browsers (Chrome, Safari) */
.sidebar-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .sidebar-scrollbar::-webkit-scrollbar-track {
    background: #f7f7f8; /* Track color */
  }
  
  .sidebar-scrollbar::-webkit-scrollbar-thumb {
    background-color: green; /* Green thumb color */
    border-radius: 10px; /* Optional, for rounded corners */
  }
  
  /* For Firefox */
  .sidebar-scrollbar {
    scrollbar-color: green #f7f7f8; /* thumb color, track color */
    scrollbar-width: thin; /* Set to 'thin' for a slim scrollbar */
  }
  